@use '../../styles/index' as *;

.map_container {
    border: 10px solid $color-golden;
    border-radius: 10px;

    @media screen and (max-width: 450px) {
        border: 8px solid $color-golden;
    }
}
.map_wrapper {
    position: flex;
    text-align: right;
    height: 450px;
    width: 800px;

    @media screen and (min-width: 2000px) {
        height: 550px;
        width: 1000px;
    }

    @media screen and (max-width: 450px) {
        height: 200px;
        width: 300px;
    }
}

iframe {
    height: 450px;
    width: 800px;

    @media screen and (min-width: 2000px) {
        height: 550px;
        width: 1000px;
    }

    @media screen and (max-width: 450px) {
        height: 200px;
        width: 300px;
    }
}